<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <h1>Your specific product</h1>
    <div>
      <ul>
        <img
          class="show-img"
          src="<%=productObj.img%>"
          alt="<%=productObj.name%>"
        />
        <br />

        Name: <%=productObj.name%>
        <br />
        Description: <%=productObj.description%>
        <br />
        Price: <%=productObj.price%>
        <br />
        QTY: <%=productObj.qty%>
      </ul>
    </div>

    <% if(productObj.qty >0) { %>
    <form action="/store/<%=productObj._id%>?_method=PUT" method="POST">
      <label for="amt">Amount</label>
      <input type="number" name="qty" id="amt" />
      <input type="submit" value="BUY" />
    </form>
    <% } else { %>
    <button>Out of Stock</button>
    <%}%>

    <a href="/store/<%=productObj._id%>/edit">Edit</a><br />

    <form
      action="/store/<%=productObj._id%>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <input type="submit" value="DELETE" />
    </form>
    <a href="/store" style="margin-left: 10px">Back</a>
  </body>
</html>
